<!doctype html>
<html>

<head>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
</head>

<body>

<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="/" class="pure-menu-heading">Blog</a>

    <ul>
        <li class="pure-menu-selected"><a href="/">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="/all"> All Posts </a> </li>
    </ul>
</div>
<hr>

<body>
  {% for n in text %}
    <h1>{{n[0]}}</h1>
    by {{n[1]}}
    <br><br>
    <p>{{n[2]}}</p>
    <br><br>
  {% endfor %}
</body>
</html>
