<!doctype html>
<head>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
</head>

<div class="pure-menu pure-menu-open pure-menu-vertical">
    <ul>
        {% for index in titles %}
        <li><a href="/{{index}}">{{ title[index] }}</a></li>
        {% endfor %}
    </ul>
</div>

<form class="pure-form pure-form-aligned" method="POST">
    <fieldset>
        <div class="pure-control-group">
            <input id="title" type="text" placeholder="Write your title here..." name="title">
        </div>

        <div class="pure-control-group">
            <input id="entry" type="text" placeholder="Write your entry here..." name="entry">
        </div>
		<div class="pure-controls">
	        <button type="submit" name="b" value="Search" class="pure-button pure-button-primary">Post</button>
		    <button type="submit" name="b" value="Clear" class="pure-button pure-button-secondary">Clear</button>
	    </div>
    </fieldset>
</form>
