<!doctype html>
<html>

<head>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
<style>
.form-custom{
height:150px;
}
</style>
</head>

<body>
<h1>{{text[0]}}</h1> by {{text[1]}}

<p>{{text[2]}}</p>

<br>

<form class="pure-form" align="center" method="POST">
    <fieldset>

    <input class="pure-input-1-4" id="name" type="text" placeholder="Write your name here..." name="name">   
    <br><br>

    <textarea class="form-custom" id="entry" type="text"  placeholder="Write your comment here..." name="comment"></textarea>
    <br><br>
    
    <div class="pure-controls">
	  <button type="submit" name="b" value="Search" class="pure-button pure-button-primary">Post</button>
	  <button type="submit" name="b" value="Clear" class="pure-button pure-button-secondary">Clear</button>
    </div>
    </fieldset>
</form>

<br>
{% for c in comments %}
{{c[0]}}: {{c[1]}} <br>
{% endfor %}

</body>

</html>
